@model ShippingDetailsViewModel

<h2>Sign Up</h2>
<form asp-controller="Cart" asp-action="SignUp" method="post">
    <div class="form-group">
        <label asp-for="ShippingDetail.FirstName">First Name</label>
        <input asp-for="ShippingDetail.FirstName" class="form-control" placeholder="First Name of Customer">
        <span asp-validation-for="ShippingDetail.FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.LastName">Last Name</label>
        <input asp-for="ShippingDetail.LastName" class="form-control" placeholder="Last Name of Customer" />
        <span asp-validation-for="ShippingDetail.LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.Address">Address</label>
        <input asp-for="ShippingDetail.Address" class="form-control" placeholder="Address of Customer" />
        <span asp-validation-for="ShippingDetail.Address"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.City">City</label>
        <input asp-for="ShippingDetail.City" class="form-control" placeholder="City of Customer" />
        <span asp-validation-for="ShippingDetail.City"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.Email">Email</label>
        <input asp-for="ShippingDetail.Email" class="form-control" placeholder="Email of Customer" />
        <span asp-validation-for="ShippingDetail.Email"></span>
    </div>
    
    <input type="submit" value="Sign Up" class="btn btn-success btn-group-sm" />
</form>
